* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.wrapper {
    position: relative;
    width: 900px;
    margin: 0 auto;
    

}


.header {
    
    width: 100%;
    background-color: rgb(47, 134, 168);
   
    margin: 0 auto;
    height: 184px;
}

.title {
    /* position: absolute; */
    text-align: center;
    color: white;
    padding-top: 70px;
    padding-left: 400px;
}
.img-tech {
    float: left;
}

ul {
    list-style-type: none;
     margin: 0px; 
     padding: 0; 
     overflow: hidden;
    background-color: gray;
    
  }

  li {
    float: left;
   
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(9, 135, 253);
  }
.about-me{
  width: 900px;
  margin: 0 auto;
}

.img-tech2 {
  width: 900px;
  margin: 0 auto;
}